<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div>
    <div>
    </div>
    <button type="button" onclick="src.callAlert()">Click me</button>
    <button type="button" onclick="scr.clg()">Clg</button>
  </div>
  <div>
    <div>
      </div>
  </div>
</body>
<script>
  var scr = {
    num: 1,
    callAlert: function(){alert("hi")},
    incNum: function(){num++},
    clg: function(){console.log(num)}
  }
</script>
</html>
